$white: #ffffff;
$black: #000000;

$primary: #195397;
$secondary: #75BBD1;

$bg-lightgray: #F4F4F4;
$bg-lightblue: #DCEAEF;
$bg-black: #221815;

$text-navy: #08102F;
$text-black: #333333;
$text-blue: #007CB3;
$text-lightgray: #AAAAAA;

$border-gray: #707070;
$border-orange: #FBD072;
$border-darkgray: #888888;