$white: #ffffff;
$black: #000000;

$primary: #00A9B7;
$primary-light: #9AD2DD;
$secondary: #0095E8;
$accent: #0A1C52;

$bg-lightgray: #F4F4F4;
$bg-lightblue: #F2FAFF;
$bg-black: #221815;
$bg-lightgreen: #F4FAF9;
$bg-darkblue: #202430;
$bg-black: #1D1D1D;
$bg-gradblue: #0095E8;
$bg-gradlightblue: #AAE1FF;

$text-navy: #08102F;
$text-black: #333333;
$text-blue: #007CB3;
$text-lightgray: #AAAAAA;

$border-gray: #707070;
$border-orange: #FBD072;
$border-darkgray: #888888;